<form className="form_create_product" action="/products/store" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Tên sản phẩm</label>
        <input
            type="text"
            id="title"
            name="title"
            class="form-control"
            aria-label="default input example"
        />
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Hình thức</label>
        <select class="form-select" aria-label="Default select example" name="category">
            <option selected>Loại sản phẩm</option>
            {{#each category}}
                <option value={{sum @index 1}}>{{this}}</option>
            {{/each}}
        </select>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Phân loại</label>
        <select class="form-select" aria-label="Default select example" name="classify">
            <option selected>Phân loại sản phẩm</option>
            {{#each classify}}
                <option value={{sum @index 1}}>{{this}}</option>
            {{/each}}
        </select>
    </div>
    <div class="mb-3">
        <label for="formFile" class="form-label">Hình ảnh</label>
        <input class="form-control" type="file" name="image" id="formFile">
    </div>
    <div class="mb-3">
        <label for="descriptions" class="form-label">Mô tả</label>
        <textarea
            class="form-control"
            id="descriptions"
            name="descriptions"
            rows="3"
        ></textarea>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Giá sản phẩm</label>
        <input
            id="price"
            name="price"
            type="text"
            class="form-control"
            aria-label="default input example"
        />
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Kích thước</label>
        <input
            id="size"
            name="size"
            type="text"
            class="form-control"
            aria-label="default input example"
        />
    </div>
        <button type="submit" class="btn btn-primary">Tạo sản phẩm</button>

</form>